# ==========================================
#  Python 虚拟环境 / 依赖文件夹（过滤）
# ==========================================
.venv/
venv/
env/
ENV/
.bundle/

# ==========================================
#  Python 编译缓存文件（无用垃圾）
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
*.egg-info/
.installed.cfg
*.egg

# ==========================================
#  临时音频 / 临时文件（过滤）
# ==========================================
*.mp3
*.wav
*.ogg
temp.*
tmp.*

# ==========================================
#  系统垃圾文件（过滤）
# ==========================================
.DS_Store
Thumbs.db
*.log
*.tmp